@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
body {
    font-family: 'Vazirmatn', sans-serif; /* A popular and modern Persian font */
    background-color: #f7f9fc;
}
/* Custom gradient for hero button */
.btn-primary-gradient {
    background-image: linear-gradient(to right, #4f46e5, #8b5cf6);
    transition: all 0.3s ease;
}
.btn-primary-gradient:hover {
    background-image: linear-gradient(to right, #6366f1, #a78bfa);
}